cnn_for_mnist/mnist_data/train-images-idx3-ubyte
cnn_for_mnist/mnist_data/train-labels-idx1-ubyte
cnn_for_mnist/mnist_data/t10k-images-idx3-ubyte
cnn_for_mnist/mnist_data/t10k-labels-idx1-ubyte

cnn_for_mnist/mnist.npy